@use 'variables';

.section_servicios{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    text-align: center center;
    .section_servicios_salon{color: variables.$color;
        padding: 1rem;
        box-sizing: border-box;
    }
    .section_servicios_parrilla{color: variables.$color;
        padding: 1rem;
        box-sizing: border-box;
    }
    .img_servicios{
    height: 300px;
    padding: 2rem;
    border-radius: 10px;
    }

}
.main_sn_img{
    width: 30rem;
    padding: 1rem;
    border-radius: 20px;
    
}
@media screen and (max-width:768px){
    .main_sn_img{
        width: 15rem;
        padding: 1rem;
    }
    .section_servicios_salon{
        padding: 1rem;
        
        h4{
            font-size: 13px;
        }
        .img_servicios{
            height: 100px;
            padding: 0.5rem;
            }
        }
        .section_servicios_parrilla{
            padding: 1rem;
            h4{
                font-size: 13px;
            }
            .img_servicios{
                height: 100px;
                padding: 0.5rem;
                }
        }
}

